<% layout("/layouts/boilerplate")%>
<body>
    <h3> <%=place3.title%></h3>
    <div class="card place-card" style="width: 18rem;">
        <img src="<%=place3.image.url%>" class="card-img-top image" alt="...">
        <div class="card-body">
         
        </div>
      </div>
    <ul>
        <li><b><i>Owned By:-<%=place3.owner.username%></i></b></li>
        <li><%=place3.title%></li>
        <li><%= place3.description%></li>
        <li>₹<%=place3.price.toLocaleString("en-IN") %></li>
        <li><%=place3.location %></li>
        <li><%=place3.country %></li>
    </ul>


   
<% if(currUser && place3.owner._id.equals(currUser._id)){%>
  
    <a href="/place/<%=place3._id%>/edit">Edit this place</a>
    <form method="POST" action="/place/<%=place3._id%>?_method=DELETE">
        <button class="delbtn">Delete this place</button>
    </form>
  
  <%}%>
<hr>
<% if(currUser){%>
    <div class="mb-3">
      
      <h4>Rating & Review</h4>
      <form method="POST" action="/place/<%=place3.id%>/reviews" novalidate class="needs-validation">
        <!-- <div class="mb-3 ">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range" />
        </div> -->
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
        <div class="mb-3">
          <label for="comment" class="form-label">Comments</label>
          <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
          <div class="invalid-feedback">
            please enter a comment
          </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <%}%>
    </div>
 
    <hr>
    <h4> All Review</h4>

  <div class="row">

 
    <% for(review of place3.reviews){%>
      <div class="card col-5 mb-3 ms-3">
        <div class="card-body">
          <div class="card-title"><%=review.author.username%></div>
          
          <div class="card-text">
            <%= review.comment%>
          </div>
          
          <p class="starability-result card-text" data-rating="<%=review.rating%>">
           <%= review.rating%>
          </p>
          
       </div>
      <form class="mb-3 mt-3" method="POST" action="/place/<%=place3._id%>/reviews/<%=review._id%>?_method=DELETE" >
        <button class="btn btn-sm btn-dark">
          Delete
        </button>
      </form>
      </div>
  
      <%}%>
    </div>
</body>

